

.sort {
width: 100%;
position: relative;
z-index: 99;
padding: 25px;
display: flex;
justify-content: flex-end;
}

#selectMenu {
font-size: 1.2em;
padding: 10px 30px 10px 10px;
color: #ebe2cd;
cursor: pointer;
text-align: left;
background-image: url(../svg/drop-down-arrow.svg);
background-position: 90% 52%;
background-repeat: no-repeat;
background-color:rgba(94.1%, 28.4%, 10.2%, 0.9);
-webkit-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
border: 1px solid rgba(96.4%, 82.5%, 47.7%, 0.9);
appearance: none;
-moz-appearance: none; 
-webkit-appearance: none;
}

#selectMenu:hover {
color:rgba(255, 255, 255, 1);
}



