.indexContent .container {
    margin-top: 25px;
}

.container h1 {
    position: relative;
    font-size: 1.8em;
    margin: 15px 0 -5px 0;
}

hr {
    border-top: 2px solid rgba(94.1%, 28.4%, 10.2%, 0.7);
}

.wrapper {
    margin-left: -15px;
}

.indexContent .container .row:first-of-type {
    padding: 25px;
}

.indexContent .svgImg .container .row div[class*="col"] {
    height: auto;
    text-align: center;
}

.indexContent .svgImg .container .row div[class*="col"] img {
    max-width: 8em;
    border: 4px solid rgba(94.1%, 28.4%, 10.2%, 0.8);
    border-radius: 50%;
    background-color: rgba(96.4%, 82.5%, 47.7%, 0.8);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.indexContent .svgImg .container .row div[class*="col"] p {
    font-size: 1.4em;
    margin: 0px 3px;
}

.indexContent article .container .row:first-of-type {
    padding-top: 0;
}

.indexContent article .container {
    margin-top: 0;
}

.imgHr {
    margin-top: 30px;
}

.bottomHr {
    margin-bottom: 30px;
}

.polaroids {
    height: 100%;
    z-index: 1;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
    0 10px 0 -5px #ebe2cd, /* The second layer */
    0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
    0 20px 0 -10px #ebe2cd, /* The third layer */
    0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}

.polaroids {
    background-color: #ebe2cd;
    padding: 2%;
}

.img-shadow {
	position: relative;
	max-width: 100%;
	float: left;
	}
    
    .img-shadow::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: inset 0 0 8px rgba(0,0,0,.6);
		-moz-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
		-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
	   } 
	   
.img-shadow img {
    width: 100%;
	float: left;
	} 

article {
    font-size: 1.5em;
}

.container h1 {
    margin: 0;
    padding: 0;
    font-size: 1.8;
}

@media all and (max-width: 767px) and (min-width: 577px) {
    .br {
        display: initial;
    }
    .container h1 {
        font-size: 1;
    }
    article {
        font-size: 1.3em;
    }
}

@media all and (max-width: 576px) {
    .indexContent .svgImg .container .row div[class*="col"] p {
        font-size: 1.2em;
        margin: 3px 3px;
        position: absolute;
        left: 0;
        right: 0;
    }
    .br {
        display: initial;
    }
    .container h1 {
        text-align: center;
        font-size: 24px;
    }
    .wrapper {
        display: none;
    }
    .container h1 {
        padding-top: 15px;
    }
    article {
        font-size: 1.3em;
    }
}

@media all and (max-width: 335px) {
    .indexContent .svgImg .container .row div[class*="col"] p {
        font-size: 5vmin;
    }
    .br {
        display: initial;
    }
    .infoText {
        font-size: 5vmin;
    }
}